
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    font-family: sans-serif;
}
i {
    cursor: pointer;
    font-size: 3em;
}